.responsive-width {
  width: min(90%, 87rem);
  margin: auto;
}

.responsive-width-contact {
  margin: auto;
  width: min(90%, 37rem);
}
.responsive-width-destination {
  margin: auto;
  width: min(90%, 65rem);
}

.responsive-width-about {
  width: 90%;
  margin: auto;
  max-width: 34 * 2rem;
}

.responsive-width-footer {
  width: fit-content;
  margin: auto;
}

.responsive-width-sitemap {
  width: 90%;
  margin: auto;
  max-width: 40rem;
  min-height: 70vh;
}
